<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.willowtreeapps.hyperion.sqlite">
    <application>
        <activity android:name=".presentation.database.DatabaseListActivity"
            android:theme="@style/hbc_BuildConfigActivityTheme"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".presentation.tables.TablesListActivity"
            android:theme="@style/hbc_BuildConfigActivityTheme"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".presentation.records.DbRecordViewerActivity"
            android:theme="@style/hbc_BuildConfigActivityTheme"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />

    </application>
</manifest>
